Dear <%%= @user.full_name %>,

Your have requested to reset the password in the system. Please click the following url to setup a new password for your account:

<p>
	<%% link_address =  url_for(:controller=>:user_forgot, :action=>:reset_password, :id=>@user.uid, :host=>@host, :only_path=>false) %>
	<%%= link_to link_address, link_address %>
</p>
<p>
Once again thank you for your interest on using our service!
</p>
<p>
<%%= AppConfig.app_name %> Team
</p>