Welcome user,
<p>
User <%%= @from_user.full_name %> invited you to join <%%= AppConfig.app_name %> as he has created a task list named <%%= @task_list.name %> and would like to share with you. </p>

<blockquote><%%= @invite_message %></blockquote>
To register and start using <%%= AppConfig.app_name %>, click the link below:
</p>
<p>
	<%% link_address=url_for(:controller=>:account, :action=>:accept_invite, :id=>@to_user.uid, :host=>@host, :only_path=>false) %>
<%%=  link_to link_address, link_address %>
</p>
<p>
Once again thank you for your interest on using our service!
</p>
<p>
<%%= AppConfig.app_name %> Team
</p>