Welcome user,
<p>
User <%%= @from_user.full_name %> added you to a task list named <%%= @task_list.name %> published in <%%= AppConfig.app_name %>. </p>
<blockquote><%%= @invite_message %></blockquote>

You may login to your account anytime to access this task list.

Once again thank you for your interest on using our service!
</p>
<p>
<%%= AppConfig.app_name %> Team
</p>