<h1>Accept Invitation</h1>
<%% form_for :invited_user, :url=>{:id=>@invited_user.uid } do |f| %>
  <%%= f.error_messages %>
  <p>
  <%%= f.label :first_name, 'First Name' %>
  <%%= f.text_field :first_name %>
  </p>
  <p>
  <%%= f.label :last_name, 'Last Name' %>
  <%%= f.text_field :last_name %>
  </p>
  <p>
  <%%= f.label :password, 'Password' %>
  <%%= f.password_field :password %>
  </p>
  
  <p>
  <%%= f.label :password_confirmation, 'Password (Again)' %>
  <%%= f.password_field :password_confirmation %>
  </p>
  
  <%%= f.submit 'Create User' %>
<%% end %>